# Ignorer les fichiers volumineux
df_final_test.csv
df_final_train.csv
df_final_test_limited.csv

# Ignorer les fichiers non nécessaires au deploiement web
call_api.py
poetry.lock
key-pair_v2.pem
key-pair.pem
Tam_accessKeys.csv
app_dashboard_local.py
api_local.py

# Ignorer les fichiers en cours de création
test_app_dashboard.py