# Demande à la plateforme qui fournit l'environnement d'utiliser le serveur web gunicorn
web: gunicorn api:app

# Pour demarrer correctement l'application Streamlit
web: sh setup.sh && streamlit run app_dashboard.py

